[submodule ".dwm"]
	path = .dwm
	url = https://github.com/Tetrago/dwm.git
[submodule "."]
	url = https://github.com/Tetrago/dwm.git
[submodule ".dmenu"]
	path = .dmenu
	url = https://github.com/Tetrago/dmenu.git
